.head {
                background: #070302;
                }
            nav{
                float: left;
                width: 15%;
                background: black;
                position: fixed;
                padding-top: 200px;
            }
            nav a{
                display: block;
                color: white;
                font-size: 25px;
                font-family: monospace;

                }
            nav a:hover{
                background: white;
                color: black;
                }
            article{
                float: left;
                background: black;
                width: 100%;
                text-align: center;
                }
            h2{
                padding: 30px 20px;
                color: white;
                }
            .video{
                padding-bottom: 70px;
                }
