    .body{
        background-color:#646467;
        font-family: Arial, Helvetica, sans-serif;
        }
    #nav{
        background:  #252535;
        margin:20px 20px 20px 20px;
        height:80px;
        border-radius:50px;
        overflow: auto;
        }
    #nav1{
        float:left;
        width:100%;
        text-align:center;
        font-size:40px;
        padding:20px 0px 20px 0;
        color:white;
        border-radius:50px;
        }
    li:hover{
        background: white;
        }
    #nav1:hover{
        color: #252535;
        }
    .img1-ram{
        border-radius: 300px;
        margin: 50px 0 50px 100px;

        }
    .block{
        background: #252535;
        margin: 20px 40px 0 40px;
        border-radius:30px;
        border-style:solid;
        border-color:white;
        }
    .block1{
        margin: 20px 40px 20px 40px;
        background: #252535;
        border-radius:30px;
        border-style: solid;
        border-color: white;
        height:10%;
        }
    h1{
        color: white;
        }
    p{
        color: white;
        text-align:center;
        font-size: 20px;
        padding-top:10px;
        }
    .blk1{
        width:60%;
        background:white;
        margin:10px 0 10px 280px ;
        border-radius: 20px;
        }
    .block2{
        margin: 20px 40px 20px 40px;
        background: #252535;
        border-radius:30px;
        border-style: solid;
        border-color: white;
        height:10%;
        }
    .block3{
        margin: 20px 40px 50px 40px;
        background: #252535;
        border-radius:30px;
        border-style: solid;
        border-color: white;
        height:10%;
        }
    #cert1{
        margin:20px 30px 10px 20px;
        }
    .cert01{
        text-align: center;
        color:white;
        }
